* {
    background-color: #f1eae3;
    cursor: url(Imagenes/Cute\ Purple\ Link\ Select.cur), auto;
}


h1{
    font-family: Courier New, monospace;
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

p{
    font-family: Georgia, serif;
    font-size: 1rem;
    color: #000000;
    text-align: justify;
    margin-left: 100px;
}


#volver {
    text-align: center;
    font-family: "Edu AU VIC WA NT Hand", cursive;
    height: 5px;
    width: 70px;
    font-size: 15px;
    border: 2px solid rgb(0, 0, 0);  
    position: relative;
    left: 47%;
    padding: 2px 10px 20px 10px; 
    border-radius: 20px;   
    transition: box-shadow 0.3s ease-in-out;
    background-image: linear-gradient(to right, #f6dcc3, #f5b5a6);
}

#volver:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(to right, #f5b5a6, #f6dcc3);
}

@media screen and (max-width: 1366px) {
    h1 {
        font-size: 2.8rem;
    }
    p {
        margin-left: 5px;
    }
}
@media screen and (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    p {
        margin-left: 5px;
        font-size: large;
    }

    #volver {
        width: 60px;
        left: 45%;
    }
}
@media screen and (max-width: 320px) {
    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 0.8rem;
        margin-left: 5px;
    }

    #volver {
        width: 60px;
        font-size: 12px;
        left: 45%;
    }
}